.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  border-radius: 100px;
}

.popup {
  padding: 10px; /* Adjust the padding as needed */
  margin-top: 20px; /* Remove top margin */
  border-radius: 100px;
  box-shadow: 10 10 10px rgba(80, 62, 62, 0.1);
  max-width: 1000px; /* Adjust the maximum width as needed */
  display: flex;
  flex-direction: column; /* Stack children (box-container and other elements) vertically */
}

.box-container {
  display: flex;
  border-top: 10;
  border-radius: 100px;
  justify-content: center; /* Adjust as needed */
  margin-top: -80px; /* Adjust the negative margin to push the box up */
}

.word-list {
  list-style-type: none;
  justify-content: ce;
  padding: 20px;
  text-align: center; /* Center the text in the word list */
}

.word-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

.word-item input{
  margin: 10px;
}
/* editmodel.css */

.description-box input {
  width: 100px; /* Adjust the width as needed */
  padding: 8px; /* Add padding for a nicer appearance */
  border: 1px solid #ccc; /* Add a border for better visibility */
  border-radius: 40px; /* Add border-radius for rounded corners */
  font-size: 14px; /* Adjust font size


.input-box input[type="text"] {
  width: 100px; /* Adjust the width as needed */
}
.add-button,
.delete-button {
  cursor: pointer;
  background-color: #ff0000; /* Red background color */
  color: #f90202;
  border: none;
  padding: 5px 10px;
  border-radius: 50px;
  margin-left: 10px;
}

.add-button:hover,
.delete-button:hover {
  background-color: #161616; /* Darker red on hover */
}