.navbar {
    background-color: rgb(160, 233, 210);
    width: 100vw;
    padding: 0.7rem 0;
    display: flex;
    border-bottom: 1px #848884 solid;
}

.navbar h1 {
    margin: 0.7rem 1rem;
}

.nav-button {
    cursor: pointer;
    background: transparent;
    border: none !important;
    transition: 100ms all ease;
}

.nav-button:hover {
    color: #074453;
}