.btn {
    background-color: rgb(185, 249, 228);
    height: 50px;
    border-style: solid;
    font-size: medium;
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 500;
    margin: 20px;
    cursor: pointer;
    transition: 100ms all ease;
}

.btn:hover {
    transform: scale(1.03);
    background-color: aquamarine;
}

.btn:disabled {
    background-color: rgb(203, 209, 206);
    cursor: default;
    transform: scale(1);
}