.btn {
    background-color: rgb(159, 241, 214);
    height: 50px;
    border-style: solid;
    font-size: medium;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    font-size: 16px;
    font-weight: 500;
    margin: 20px;
    cursor: pointer;
    transition: 100ms all ease;
}

.btn:hover {
    transform: scale(1.03);
    background-color: rgb(90, 234, 186);
}

.btn:disabled {
    background-color: rgb(203, 209, 206);
    cursor: default;
    transform: scale(1);
}